* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #412567;
    color: white;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    background: linear-gradient(
        90deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.btn-primary {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background: linear-gradient(
        90deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.hero {
    padding: 40px 20px;
    background: url(../assets/hero-bg.png) center/cover no-repeat;
    border-bottom: 3px solid #302044;
    border-top: 2px solid #713fae;
}

.hero-visual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-area {
    position: relative;
    width: 170px;
    height: 170px;
    border: 3px solid #2d1b78;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-area img {
    width: 80px;
    height: auto;
}

.new {
    position: absolute;
    top: 0;
    right: -10px;
    padding: 4px 8px;
    background-color: #00ff88;
    color: #000;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
}



.spotify-btn {
    padding: 8px 14px;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.subscribe-btn {
    border: 1px solid #00FF88;
    border-radius: 20px;
    padding: 8px 14px;
    color: #00FF88;
    font-size: 20px;
    text-decoration: none;
}

.about {
    padding: 70px 20px;
    background-color: #1A0B2E;
}

.about-content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 10px;
    line-height: 1.7;
    margin-bottom: 12px;
    color: #dfd8d8;
}

.stats {
    max-width: 900px;
    margin: 50px auto 0;
    padding-top: 30px;
    border-top: 1px solid #302044;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat-item h3 {
    font-size: 28px;
    color: #00FF88;
    margin-bottom: 8px;
}

.stat-item p {
    font-size: 10px;
    color: #dfd8d8;
}

.why-choose {
    padding: 70px 20px;
    background-color: #230E3D;
}

.why-choose > h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.features {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 16px;
}

.card-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.card-3 {
    grid-column: span 2;
    grid-row: span 1;
}

.card-4 {
    grid-column: span 2;
    grid-row: span 1;
}

.card-5 {
    grid-column: span 1;
    grid-row: span 1;
}

.feature-card {
    padding: 25px;
    background-color: #301451;
    border-radius: 16px;
}

.feature-card i {
    font-size: 25px;
    color: #FB09B4;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 12px;
    line-height: 1.6;
    color: #dfd8d8;
}

.episodes-section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.episode-card {
    background-color: #210f37;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.host {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 18px;
   
   

} 

.host-card{
   background-color: #351165;
   margin: 130px;
    padding: 70px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.host-content{
    flex: 1;
   
}
.host-content h3{
    font-size: 24px;
    margin-bottom: 12px;
}
.host-content p{ 
    font-size: 13px;
    line-height: 1.6;
    color: #dfd8d8;
    margin-bottom: 12px;
}
 .hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 15px;
}

.hero-content p {
    font-size: 14px;
    margin: 10px 0 20px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer {
    position: relative;
    min-height: 160px;

    overflow: hidden;
    text-align: center;
    padding: 40px 20px 25px;
}

footer > img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 112%;
    height: 130px;
    object-fit: cover;
    z-index: 0;
}

footer h2 {
    position: relative;
    z-index: 1;
    font-size: 28px;
    margin-bottom: 12px;
}

.png {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.png img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.footer-text {
    position: relative;
    z-index: 1;
    margin-top: 12px;
    font-size: 8px;
    color: #aaa;
}


